# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Jupyter
.ipynb_checkpoints

# Environment
.env/
.venv/
env/
venv/

# VS Code
.vscode/


## Note: .gitignore is a special file used by Git to tell it which files and directories to ignore when committing changes to your repository.
# Avoid committing unnecessary files -> Temporary files (__pycache__, .ipynb_checkpoints/)
# Local environment files (.env, .venv/)